<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
             
        </div>
        <div class="col-md-2">
            <input type="text" [(ngModel)]="code" class="form-control" placeholder="Code">
        </div>
        <div class="col-md-2">
            <input type="text" [(ngModel)]="name" class="form-control" placeholder="Name">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary form-control"  (click)="onSearch()">Search</button>
        </div>
    </div>
</div>